.edit-tab {
  margin: 0 auto;
  width: 100%;

  &__content {
    display: none;
    clear: both;
    overflow: hidden;
    padding-top: 2.5rem;
  }

  input:checked+.edit-tab__item {
    border-bottom: 3px solid $main;
    color: $main;
  }
}

.edit-tab__item {
  display: block;
  float: left;
  box-sizing: border-box;
  width: 50%;
  height: 3rem;
  border-bottom: 1px solid $border;
  color: $font-sub;
  text-align: center;
  text-align: center;
  font-size: 1.125rem;
  line-height: 3rem;
  transition: all 0.2s ease;

  &:hover {
    cursor: pointer;
  }
}

input[name="edit-tab__item"] {
  display: none;
}

#posts-tab:checked~#posts-tab__content,
#form-tab:checked~#form-tab__content {
  display: block;
}