.footer {
  display: flex;
  justify-content: center;
  width: 100%;

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    width: $width-footer-content;
    height: 100%;
    border-top: 1px solid $border;
  }
}

.footer-logo-link {
  text-decoration: none;
}

.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &__icon {
    width: 40px;
    height: 40px;
  }

  &__app-name {
    margin-left: 20px;
    color: $font-footer;
    font-size: $font-header-logo;
  }
}

.footer-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 400px;

  &__item {
    display: inline;
  }

  &__text {
    color: $font-footer;
    text-decoration: none;
    font-size: $font-footer-link;
  }
}

.footer-github-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}

.footer-copy {
  margin-bottom: 5px;
  color: $font-footer;
  font-size: $font-footer-link;
}

.footer-icon {
  color: $font-footer;
  font-size: $font-footer-link;
}