.alert {
  box-sizing: border-box;
  margin-bottom: 1.875rem;
  padding: $padding-alert-notice;
  width: 100%;
  border-radius: $border-alert-notice;
  font-size: $font-alert-notice;

  &-success {
    border: solid 1px $border-alert-success;
    background-color: $background-alert-success;
    color: $font-alert-success;
  }

  &-warning {
    border: solid 1px $border-alert-warning;
    background-color: $background-alert-warning;
    color: $font-alert-warning;
  }
}