.posts {
  width: 100%;

  &__title {
    margin-bottom: 10px;
    color: $font-main;
    font-size: 22px;
  }
}

.posts_list {
  width: 100%;
}

.posts-item {
  box-sizing: border-box;
  margin-bottom: 5px;
  padding: 10px 15px;
  border-left: 3px solid $border;

  &__date {
    margin-bottom: 5px;
    color: $font-sub;
  }

  &__content {
    color: $font-main;
    word-wrap: break-word;
    line-height: 16px;

    overflow-wrap: break-word;
  }

  &__none-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: $font-sub;
  }
}