.posts {
  width: 100%;

  &__title {
    margin-bottom: 0.625rem;
    color: $font-main;
    font-weight: bold;
    font-size: 1rem;
  }
}

.posts_list {
  width: 100%;
}

.posts-item {
  box-sizing: border-box;
  margin-bottom: 0.375rem;
  padding: 0.625rem 1rem;
  border-left: 3px solid $border;

  &__date {
    margin-bottom: 5px;
    color: $font-sub;
    font-size: 0.75rem;
  }

  &__content {
    color: $font-main;
    word-wrap: break-word;
    font-size: 0.875rem;
    line-height: 1.25rem;

    overflow-wrap: break-word;
  }

  &__none-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: $font-sub;
  }
}