.debug_dump {
    float: left;
    clear: both;
    box-sizing: border-box;
    margin: 2.5rem 0;
    padding: 0.625rem;
    width: 90%;
    border: solid 1px #e8e8e8;
    border-radius: 0.315rem;
    background-color: #f5f5f5;
    white-space: pre-wrap;
    font-size: 0.625rem;
}