.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: $height-header;
  border-bottom: 1px solid $border;

  &__content {
    display: flex;
    width: $width-main-content;
    height: 100%;
  }
}

.header-logo-link {
  text-decoration: none;
}

.header-logo {
  display: flex;
  align-items: center;
  height: 100%;

  &__icon {
    width: $width-header-logo;
    height: $height-header-logo;
  }

  &__app-name {
    margin-left: 20px;
    color: $main;
    font-weight: normal;
    font-size: $font-header-logo;
  }
}