$main: #928BFB;

$font-main: #4D4D4D;
$font-sub: #797979;
$font-footer: #9E9E9F;
$border: #E6E6E6;

$background-alert-success:#D4EDDA;
$border-alert-success:#C3E6CB;
$font-alert-success:#3c763d;

$background-alert-alert:#FFF3CD;
$border-alert-alert:#FFEEBA;
$font-alert-alert:#856404;

$background-alert-info:#d9edf7;
$border-alert-info:#bce8f1;
$font-alert-info:#31708f;

$background-alert-warning:#F8D7DA;
$border-alert-warning:#F5C6CB;
$font-alert-warning:#721C24;