$main: #928bfb;
$background: #ffffff;

$font-main: #4d4d4d;
$font-sub: #797979;
$font-footer: #9e9e9f;
$border: #e6e6e6;

$background-alert-success:#d4edda;
$border-alert-success:#c3e6cb;
$font-alert-success:#3c763d;

$background-alert-alert:#fff3cd;
$border-alert-alert:#ffeeba;
$font-alert-alert:#856404;

$background-alert-info:#d9edf7;
$border-alert-info:#bce8f1;
$font-alert-info:#31708f;

$background-alert-warning:#f8d7da;
$border-alert-warning:#f5c6cb;
$font-alert-warning:#721c24;

$background-url:#ffe0b2;
$border-url:#f3d9a4;
$font-url:#6f5111;

$button-warning: #d9534f;
$button-export-csv:#81c784;
$button-export-json:#64b5f6;