$width-main-content: 600px;
$width-footer-content: 1000px;

$height-header: 40px;

$font-header-logo: 22px;
$font-admin-link: 12px;
$font-introduction-text: 22px;
$font-footer-link: 14px;

$line-height-introduction-text: 36px;