.introduction {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3.75rem;

  &__icon {
    margin-bottom: 1.375rem;
    width: $width-introduction-icon;
    height: $height-introduction-icon;
  }

  &__text {
    color: $font-main;
    text-align: center;
    font-weight: normal;
    font-size: $font-introduction-text;
    line-height: $line-height-introduction-text;
  }
}

.introduction-images {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  &__title {
    margin-bottom: 0.375rem;
    width: 100%;
    color: $font-main;
    font-weight: bold;
    font-size: 1rem;
  }

  &__text {
    margin-bottom: 0.875rem;
    width: 100%;
    color: $font-sub;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  &__item {
    margin-bottom: 3rem;
    width: 100%;

  }
}

@media screen and (max-width: 480px) {
  .introduction {

    &__icon {
      width: $width-introduction-icon-mobile;
      height: $height-introduction-icon-mobile;
    }

    &__text {
      font-size: $font-introduction-text-mobile;
      line-height: $line-height-introduction-text-mobile;
    }
  }
}